# Assignment

### Question (1) Explain the key feature of python that make it a popular choice for programming..

Ans = Python is programming language that easy to understand and easy to use or easy to write, python is very-developer
friendly language , which means that it can be learned in a matter of hours or day by anyone.
Python is one of the easiest object - oriented programming language to learn when compared to java , c, c++,julia, rast
and python is developed by 1991 is GUIDO VAN ROSSUM..
*Key feature of python-:
*Easy to use.
*python are huge active community
*Ease of learning.
*widely used in the technical industry.
*used in data industry.
*used in Automation.
*used in Image processing.
*A lot of liabraries 
*IDEs - Integrated development enviroment software ( Panda . google colab , nam pad , vs-code ).
*Python are more than 137000 liabraries.
*Python are widely used in frontend , backent , data analyst , data science , machine learning etc

### Question (2) Describe the role of predefined keywords in python and provide exmaple of how they are used in a program.

Ans = keywords are predefined words that hold a special meaning and have specific purpose in python programming.
Python are help us to create and excute code in a very easy and succefully and you can not use a keywords in variable and 
assignment.

In [5]:
help("keywords")

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

so here many predefined keywords . they are help to execute and also define the syntax of code.

Types of variables / Identifires
*int
*str
*boolean
*float
*none >> nothing
*complex

### example of how they are used in code --

In [7]:
## if we use a (print) keyword >> if you want to print anything just write and using this keyword to execute this code..
##example
print("what is your name")

what is your name

In [9]:
print("123")

123

### we use of keywords := types of keywords to help us to know the nature of variable >> and we can say also 
type of variable..

In [11]:
a = ("12")
type(a)

str

In [12]:
b = ("abhi")
type("b")

str

In [14]:
c = 35.5
type(c)

float

In [16]:
d = 0
bool(d)

False

In [17]:
e = 12
bool(e)

True

In [19]:
## None type of keywords didnt execute.....
f = 10
None

In [20]:
### use of and keywords...

In [21]:
True & False

False

In [22]:
False & True

False

In [23]:
True & True

True

In [24]:
False & False

False

In [25]:
### use of or keyword...

In [26]:
True | False

True

In [27]:
True | True

True

In [28]:
False | True

True

In [29]:
False | False

False

In [30]:
## if we use to if else elif operator...

In [31]:
score = 80
if score >90:
    print("Grade A")
elif 80<=score<90:
    print("Grade B")
elif 70<=score<80:
    print("Grade c")
elif 60<=score<70:
    print("Grade d")
else:
    print("Repeat the class")

Grade B

there is so many predefined keywords in which some are explained here by me..

### Question (3) Compare and contrast mutable and immutable objects in python with examples.

Ans = A data type is mutable if its value can be changed or modified after the data type has been created
Concept of mutability: 
As the name suggest mutability is if you can edit something if you  want change  "data analyst" to "data science" ...
and object/container whose state or value can be changed after they are created are called as mutable..

In [32]:
### in the memory , a memory block is create with refrence name a and value of 6...
a = 6
a

6

### example of mutable

In [44]:
### if we are access to container or memory block to >> left to right using 1,2,3,4,5..>>
## access to right to left using this -1,-2,-3,-4,-5....
a = "pwskills"

In [41]:
a[2]

's'

In [42]:
a[0]

'p'

In [43]:
a[-2]

'l'

In [45]:
a[-4]

'i'

In [46]:
### another type of data container...
list_count = [ "pwskills" , 123 ,12.5 , True , 3+5j ]
list_count[0]

'pwskills'

In [47]:
list_count[-2]

True

In [48]:
type(list_count[-1])

complex

In [49]:
list_count

['pwskills', 123, 12.5, True, (3+5j)]

In [52]:
##mutabilty can be change something if you want to change pwskills to skills...
list_count[0]="skills"

In [53]:
list_count

['skills', 123, 12.5, True, (3+5j)]

### Immutability

Object/container whose state or value can not be changed after they are created are called as mutable object are 
container list is a type of mutable object/support item assignment.
if its value can not be changed after it has been created are called immutable...

In [54]:
### example
a = "pwskills"

In [55]:
a[1]

'w'

In [56]:
a[0]

'p'

In [57]:
a[-2]

'l'

In [58]:
##string is a type of immutability/object doesn't support item assignment.
a[0]="d"

TypeError: 'str' object does not support item assignment

### Question (4) Discuss the different type of operators in python and provide examples of how they are used..

Ans = Operators are special symbols or keywords that are used to carry out specific actions on number or variables
in python expression.
You can combine objects and operators to biuld expressions that a perform actual computation and operators are the 
building block of expressions which you can use manipulate your data. And python operators are special keywords symbols
that are used to perform operators on value or variable...

Python language are support various type of operators

*Arithmatic operators
*Comparison operators
*Logical operators
*Bit-wise operators
*Assignment operators
*Membership operators
*Identity operators

### Arithmatic operators

These operators allow you to perform mathmatical operations numeric data type such as integer and float numbers and 
supported arithmatic operators in boolean expression consist of the prefix and binary (+) and (-) symbols..
Type of arithmatic operator =
*Addition (+)
*Subtraction (-)
*Multiplication (*)
*Division (/)
*Modulus (%)
*Exponentiation (**)
*Floor (//)

In [3]:
### Example of arithmatic operators....
## Addition
a = 2
b = 5
a+b

7

In [4]:
## Subtraction
a = 5
b = 3
a-b

2

In [5]:
## Multiplication
a = 10
b = 5
a*b

50

In [6]:
## Division
a = 20
b = 5
a/b

4.0

In [7]:
## Modulus operator
21 % 4

1

In [12]:
25 % 9

7

In [13]:
## Exponentiation operator
## 2 power of 5
2 ** 5

32

In [14]:
2 ** 4

16

In [17]:
## Floor opearator
20 // 5

4

In [18]:
20 // 4

5

### Comparison operators

Comparison operator are compare to two value and output is given by boolean value...
Type of comparison operators =
*Equal to (=)
*Greater than (>)
*Less than (<)
*Greater than or equals to (>=)
*Less than or equals to (<=)

In [19]:
## Equals to 
## Example
2 == 2

True

In [20]:
2 == 5

False

In [21]:
## Not equals to
## Example
2 != 5

True

In [23]:
2 != 2

False

In [27]:
## Greater than..
## Example
a = 5 
b = 4
a > b

True

In [29]:
25 > 30

False

In [30]:
## less than 
## Example
a = 10
b = 20
b < a

False

In [32]:
10 < 20

True

In [33]:
## greater than or equals to
## Example
a = 25
b = 35
a >= b

False

In [34]:
35 >= 25

True

In [35]:
## less than or equals to
## Example
a = 45 
b = 55
a <= b

True

In [36]:
55 <= 45

False

### Logical operators

Logical operators are used to combine multiple conditions together execute as a single boolean expression..
These are three type of logical operators in python =
*AND
*OR
*NOT

In [37]:
# AND Operator
#x and y (this return TRUE if both x and y are true)

In [38]:
## Example
True and False

False

In [39]:
False and True

False

In [41]:
False and False

False

In [42]:
True and True

True

In [43]:
## OR Operator
## x and y ( this return TRUE if either x and y are true)..

In [44]:
##Example
True or False

True

In [45]:
False or True

True

In [47]:
True or True

True

In [48]:
False or False

False

In [49]:
## NOT Operator...
## Reverses a result so if something is TRUE not turn into FALSE...

In [50]:
## Example
not True

False

In [51]:
not False

True

### Bitwise Operators

Bitwise operator are used to perform bitwise calculation on integers and integer are first converted into binary format
and than operation by performed bit by bit and operation at bit level , manipulating individulas bits with in integer.
Types of bitwise operator =
*Bitwise AND (&)
*Bitwise OR (|)
*Bitwise XOR (^)
*Bitwise NOT (~)
*Left shift operator (<<)
*Right shift operator ( >>)

In [52]:
## Bitwise AND(&)
## Example
28 & 5

4

In [53]:
bin(28)

'0b11100'

In [54]:
bin(5)

'0b101'

In [55]:
bin(4) ##if we calculate the bin of 28 and 5 than result is 4 because (this return is true if both x and y are true..)

'0b100'

In [56]:
## Bitwise OR Operator
## Example
30 | 5

31

In [57]:
bin(30)

'0b11110'

In [58]:
bin(5)

'0b101'

In [59]:
bin(31)##if we calculate the bin of 30 OR 5 than result is 4 because (this return is true if either x and y are true..)

'0b11111'

In [ ]:
## Bitwise XOR Operators (^) ...

In [60]:
## Example
5 ^ 3

6

In [61]:
bin(5)

'0b101'

In [62]:
bin(3)

'0b11'

In [63]:
bin(6)(XOR returns one when exactly one operaned is one..)

'0b110'

In [66]:
## Bitwise Not operator(~) 
## Negation

In [67]:
## Example
~ 3

-4

In [68]:
~100 ## flips the bits in the operand..

-101

In [69]:
## Bitwise ( LEFT SHIFT OPERATOR)

In [70]:
## Example
28 << 5

896

In [71]:
bin(28)

'0b11100'

In [72]:
bin(896) ## Left shift the bits to the left by a specified no of position filling 0 of the right..

'0b1110000000'

In [73]:
## Bitwise ( RIGHT SHIFT OPERATOR)

In [75]:
## Example
28 >> 2

7

In [76]:
bin(28)

'0b11100'

In [78]:
bin(7) ## Right shift operator remove the no of elements in the binary...

'0b111'

### Assignment Operator

Assignment operator are most commonly used operator in python and it is assign a value to variable...
Type of assignment operator =
*Assignment operator
*Addition assignment
*Subtraction assignment
*Multiplication assignment
*Division assignment

In [93]:
##Example
a = 10
b = 10
a+b ## assignment operator (assign a value to variable)..

20

In [1]:
a =10
a+=20##addition

In [2]:
a

30

In [4]:
c = 50
c-=20 ## Subtraction

In [5]:
c

30

In [6]:
d = 20
d*=2 ## Multiplication

In [7]:
d

40

In [8]:
e = 50
e/=5 ## Division

In [9]:
e

10.0

### Membership Operator

Membership operator a given value is a member of sequence such as string , list and they excute it give a boolean value form.
They are two primary types 
(in) returns true if specified value is found with in a sequence.
(not in) returns true if specified value is found not in a sequence.

In [11]:
##Example
## in
a = "pwskills"

In [12]:
a

'pwskills'

In [13]:
"p" in a

True

In [14]:
"s" in a

True

In [15]:
"z" in a

False

In [16]:
## list count 
list_count = ["pw" , "skills", "data", "science", 123 ]

In [17]:
list_count

['pw', 'skills', 'data', 'science', 123]

In [18]:
123 in list_count

True

In [19]:
"data analyst" in list_count

False

In [20]:
## NOT in

In [21]:
a = "pwskills"

In [22]:
"p" not in a

False

In [23]:
"Z" not in a

True

In [24]:
list_count = ["pw" , "skills", "data", "science", 123 ]

In [25]:
"skills" not in list_count

False

In [26]:
2231 not in list_count

True

### Identity Operator

Identity operator is compare the location of two object and variable..
They are two types operator =
*is
*is not

In [27]:
## Example
a = 2
b = 3
a is b

False

In [28]:
a is not b

True

In [29]:
b = 26
c = 26
b is c

True

In [30]:
b is not c

False

### Question (5) Explain the concept of type casting in python with example..

Ans = Type casting is the process of converting the value of a single data type such as an integer , float , boolean, 
strings into another data type and the type casting is the method to convert the python variable data type into a certain data
type in order to perform the required operation by user..
These are two type of type casting =
*Implicit
*Explicit

### Implicit

In [2]:
##implicit means to python are understand the data type..

In [3]:
#example
a = 5
type(a)

int

In [4]:
b = 3.5
type(b)

float

### explicit

In [5]:
## if in this method python need user involvement to convert the variable data type into the required data type..

In [6]:
#example
a = "2"

In [7]:
type(a)

str

In [8]:
int(a)

2

In [9]:
float(a)

2.0

In [10]:
bool(a)

True

In [11]:
str(a)

'2'

### Concatenate

In [13]:
## Type conversion the process of changeing the data type of value or object while excecuting computation using operator
## they are can mismatch between data type.... 
a = "2"
b = 5
a+b

TypeError: can only concatenate str (not "int") to str

In [18]:
## if this is right way to python are understand the data type...
b = "44"
c = 20
int(b)+c

64

### String to integer

In [20]:
a = "5"
print(type(a))
print(type(int(a)))

<class 'str'>
<class 'int'>

In [22]:
int(a)

5

In [23]:
b = "55"
print(type(a))
print(type(int(a)))

<class 'str'>
<class 'int'>

### Float to integer

In [24]:
a = 5.5 
a

5.5

In [26]:
type(a)

float

In [27]:
int(a)

5

In [28]:
b = 8.6
type(b)
float_value = int(b)
type(float_value)

int

### Integer to float

In [30]:
a = 45

In [31]:
float(a)

45.0

In [34]:
b= 65
type(b)
integer = float(b)
type(integer)

float

In [33]:
float(b)

65.0

### String to float

In [35]:
a = "5"

In [36]:
float(a)

5.0

In [39]:
b ="23"
type(b)
string = float(b)
type(string)

float

In [38]:
float(b)

23.0

### String to integer

In [40]:
## character can not be change into number....
a = "pwskills"

In [41]:
int(a)

ValueError: invalid literal for int() with base 10: 'pwskills'

### Integer to string

In [42]:
a = 2

In [43]:
str(a)

'2'

In [45]:
b= 45

In [46]:
str(b)

'45'

### Boolean value

In [47]:
bool(1)

True

In [49]:
bool("pwskills")

True

In [50]:
bool(-22)

True

In [ ]:
### only zero and empty string are showing false...

In [54]:
bool("")

False

In [52]:
bool(0)

False

### Question (6) How do conditional statement work in python? illustrate with examples.

Ans = Conditional Statements are statements in Python that provide a choice for the control flow based on a condition. 
It means that the control flow of the Python program will be decided based on the outcome of the condition..
condition statement help you to code decision based on some precondition...

## Conditional statement

## * if 
## * else
## * elif
## * nested else..

In [4]:
## if statement syntax if condition are true block of code will be executed..

### IF

In [6]:
a = 100
if a>0:
    print("the number is greater than zero")## execute the if block  if condition are true..

the number is greater than zero

In [14]:
b = 200 
if b>25:
    print("the number is greater than tweenty five")

the number is greater than tweenty five

In [21]:
## this code will be are not executed because indentation are nescessary...
weather = "rainey"
if weather == "rainey": 
print("i will not play cricket")

IndentationError: expected an indented block after 'if' statement on line 2 (3957532993.py, line 3)

In [22]:
##example of indentation==
weather = "rainey"
if weather == "rainey": 
    print("i will not play cricket")

i will not play cricket

In [23]:
## in a real life decision are made based on multiple condtion....
##example==
grade = 8
co_cirr = True
if ((grade >=8) and (co_cirr == True)):
    print("you are all rounder")

you are all rounder

In [24]:
## in real life have multiple condition if one condition is not full fill you will do you something else..
## example == if weather is not rainey i will go to play cricket else i will watch a tv..

### ELSE

In [25]:
weather = "rainey"
if weather == "rainey":  ## if condition are than execute a if block..
    print("i will watch a tv")
else:
    print("i will go to play cricket")

i will watch a tv

In [26]:
weather = "sunny"
if weather == "rainey":  ## if condition are not true execute a else block...
    print("i will watch a tv")
else:
    print("i will go to play cricket")

i will go to play cricket

In [29]:
### One more example 
age = 15
if age >= 18:
    print("serve the alchool")
else:
    print("get out of the bar")

get out of the bar

In [30]:
age = 20
if age >= 18:
    print("serve the alchool")
else:
    print("get out of the bar")

serve the alchool

In [31]:
## if in real life you have facing two or more multiple condition... 
## elif some condition

### ELIF

In [36]:
## if we have a multiple condition if we can true if than execute a if block..
a = 500
if a > 50:
    print("this number is greater than 50")
elif a < 50:
    print("this number is lesser than 50")
else:
    print("equal a number of 50")

this number is greater than 50

In [37]:
## if we can true elif than execute a elif block..
a = 25
if a > 50:
    print("this number is greater than 50")
elif a < 50:
    print("this number is lesser than 50")
else:
    print("equal a number of 50")

this number is lesser than 50

In [38]:
## if we can true else block than execute a else block..
a = 50
if a > 50:
    print("this number is greater than 50")
elif a < 50:
    print("this number is lesser than 50")
else:
    print("equal a number of 50")

equal a number of 50

### Nested of else

In [ ]:
## Nested of else statement is when you have an if-else inside another if or else block..
## its like placeing one decision within another decision...

In [40]:
## nested of else>> u can have multiple if else inside if else
## Example==
x = 6 
y = 6
if x > 5:
    if y > 5:
        print("X and Y is both are greater than 5")
    else:
        print("X is greater than 5 and Y is less than 5")
else:
    print("X is greater than 5")

X and Y is both are greater than 5

In [43]:
x = 6
y = 4
if x > 5:
    if y > 5:
        print("X and Y is both are greater than 5")
    else:
        print("X is greater than 5 and Y is less than 5")
else:
    print("X is greater than 5")

X is greater than 5 and Y is less than 5

In [45]:
x = 4
y = 4
if x > 5:
    if y > 5:
        print("X and Y is both are greater than 5")
    else:
        print("X is greater than 5 and Y is less than 5")
else:
    print("X and Y is less than 5")

X and Y is less than 5

In [48]:
## if we all condition are true than execute it...
name = input("Enter your name ")
email = input("Enter your email")
password = input("Enter your password")

if name == (""):
    print("Please enter a valid name")
else:
    if "@" not in email:
        print("Please enter a valid email")
    else:
        if len(password) < 2:
            print("Please enter a valid password")
        else:
            print("login succefully")

Enter your name  Abhishek
Enter your email abhsiek@123
Enter your password abhisek

login succefully

In [50]:
## if we can one condition are not true...
name = input("Enter your name ")
email = input("Enter your email")
password = input("Enter your password")

if name == (""):
    print("Please enter a valid name")
else:
    if "@" not in email:
        print("Please enter a valid email")
    else:
        if len(password) < 2:
            print("Please enter a valid password")
        else:
            print("login succefully")

Enter your name
Enter your email abbh@s
Enter your password a13111

Please enter a valid name

In [1]:
## if we can one condition are not true...
name = input("Enter your name ")
email = input("Enter your email")
password = input("Enter your password")

if name == (""):
    print("Please enter a valid name")
else:
    if "@" not in email:
        print("Please enter a valid email")
    else:
        if len(password) < 2:
            print("Please enter a valid password")
        else:
            print("login succefully")

Enter your name  abhishek
Enter your email jjabjd
Enter your password abhhsa

Please enter a valid email

In [2]:
## if we can one condition are not true...
name = input("Enter your name ")
email = input("Enter your email")
password = input("Enter your password")

if name == (""):
    print("Please enter a valid name")
else:
    if "@" not in email:
        print("Please enter a valid email")
    else:
        if len(password) < 2:
            print("Please enter a valid password")
        else:
            print("login succefully")

Enter your name  abhishek
Enter your email abhi@123
Enter your password 1

Please enter a valid password

### Question (7) Describe the different types of loops in python and their use cases with example ??

Ans = In python loop are employed to repeat a sequence of action or code until a specific condition is fullfilled.
it always you to excute a block of code repeatly...
There is a two type of loop :
(1) while loop..
(2) for loop...

### While loop

while loop are used for ececuting code untill a specified condition become false..

### For loop

for loop are used for iterating over a sequence of elements..( strings and list).

### Examples for while loop

In [ ]:
# syntax
## while condition
### while is a keyword is used for while loop

In [1]:
## if a condition n = 7 and i = 1 ( 1 < 7 := this condition are true than execute block of code)
## i will explain it how to work while loop:
### (1<7) i = i+1 = 1 (the value of i is 1.)
### (2<7) i = 1+1 = 2 (this is called itration and also value of i is 2.)
### (3<7) i = 2+1 = 3
### (4<7) i = 3+1 = 4
### (5<7) i = 4+1 = 5
### (6<7) i = 5+1 = 6
### (7<7) === this condtion are false it will break the loop because condition failed..
n = 7
i = 1
while i < n:
    print(i)   
    i = i+1

1
2
3
4
5
6

In [2]:
### condition test
## while is conditon is true while is keep ececuting..
## if while condition is false it will exit the loop or break the loop..

In [3]:
a = 25 
b = 2
while b < a:
    print(b)
    b = b+1

2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24

In [ ]:
## do not run this code beacuse it will run infinite numbers....
n = 10
i = 1
while i < n:
    print(i)
    i = i-1

In [3]:
pw = 5
while pw > 0:
    print(pw)
    pw = pw - 1
### 1st itration while loop 
## 5 > 0 is true than 5 is decrease by 1 = 4
## 4 > 0 is true than 4 is decrease by 1 = 3
## 3 > 0 is true than 3 is decrease by 1 = 2
## 2 > 0 is true than 2 is decrease by 1 = 1
## 1 > 0 is true than 1 is decrease by 1 = 0
## 0 > 0 this condition are not true it will not enter this block of code...

5
4
3
2
1

In [2]:
ab = 10 
while ab > 0:
    print(ab)
    ab = ab - 1

10
9
8
7
6
5
4
3
2
1

In [4]:
bk = 15
while bk > 0:
    print(bk)
    bk = bk - 1

15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

### While else

In [5]:
ab = 10 
ac = 1
while ac < ab:
    print(ac)
    ac = ac+1
else:
    print("this will be executed when the while is run sucessfully without any failler")

1
2
3
4
5
6
7
8
9
this will be executed when the while is run sucessfully without any failler

In [6]:
ab = 15 
while ab > 0:
    print(ab)
    ab = ab - 1
else:
    print("this will be executed when the while is run sucessfully without any failler")

15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
this will be executed when the while is run sucessfully without any failler

### while if ( break statement)

In [14]:
## break terminates / exit the loop...
a = 9
b = 1
while b < a:
    print(b)
    b = b + 1
    if b == 5:
        break
else:
    print("this will be executed when the while is run sucessfully")

1
2
3
4

In [16]:

ab = 12
bc = 2
while bc < ab:
    print(bc)
    bc = bc + 1
    if bc == 9:
        break
else:
    print("this will be executed when the while is run sucessfully without any break")

2
3
4
5
6
7
8

In [18]:
## if we are write a keyword print after than break so they are do not execute...
ab = 12
bc = 2
while bc < ab:
    
    bc = bc + 1
    if bc == 9:
        break
        print(bc)
else:
    print("this will be executed when the while is run sucessfully without any break")

### while if ( continue statement)

In [9]:
### go inside if  block 3 == 3 this condition is true 
## if this condition is true it will come to continue..
## continue is say please skip the itration don't run any piece of code after this again go back to the loop.. 
ab = 10 
bc = 1 
while bc < ab:
    bc = bc + 1
    if bc == 3:
        continue
    print(bc)
else:
    print("this will be executed when the while is run sucessfully without any break")

2
4
5
6
7
8
9
10
this will be executed when the while is run sucessfully without any break

In [7]:
ab = 10 
bc = 1 
while bc < ab:
    bc = bc + 1
    if bc == 3:
        continue
    print(bc)
else:
    print("this will be executed when the while is run sucessfully without any break")

2
4
5
6
7
8
9
10
this will be executed when the while is run sucessfully without any break

In [18]:
## if i write print (keyword) before continue than do not execute if block....
## see>>>
ab = 10 
bc = 1 
while bc < ab:
    print(bc)
    bc = bc + 1
    if bc == 3:
        continue
    
else:
    print("this will be executed when the while is run sucessfully without any break")

1
2
3
4
5
6
7
8
9
this will be executed when the while is run sucessfully without any break

In [5]:
E = 20 
D = 1
while D < E:
    D = D + 1
    if D == 4:
        continue
    print(D)
else:
    print("this will be executed when the while is run sucessfully without any break")

2
3
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
this will be executed when the while is run sucessfully without any break

### For loop

for loop iterate over a sequence of elements >> strings , list...

### example for loop

In [9]:
for i in "abhishek":
    print(i)## sequence of elements strings...

a
b
h
i
s
h
e
k

In [23]:
### list sequence of elements

In [28]:
l = [ 1, 2, "ab", "dc"]
for dc in l:
    print(dc)

1
2
ab
dc

In [29]:
listt = [ 1,2,3,4,5,6,7,"abcdef"]
for int1 in listt:
    print(int1)

1
2
3
4
5
6
7
abcdef

In [31]:
### else block
listt = [ 1,2,3,4,5,6,7,"abcdef"]
for int1 in listt:
    print(int1)
else:
    print("this will be executed when for loop without any break ")

1
2
3
4
5
6
7
abcdef
this will be executed when for loop without any break

### For loop (break statement)

In [44]:
## break statement
ab = [ 1,2,3,4,5, "ab","dc","pw","skills","data"]
for i in ab:
    if i == "skills":
        break
    print(i)
else:
    print("this will be executed when for loop without any break")

1
2
3
4
5
ab
dc
pw

In [48]:
ab = [ 1,2,3,4,5, "ab","dc","pw","skills","data"]
for data in ab:
    if data == 3:
        break
    print(data)
else:
    print("this will be executed when for loop without any break")

1
2

In [51]:
abc = [ "abhishek" , "mohsin" , "sanjeev" , "jordan"]
for mohsin in abc:
    if mohsin == "sanjeev":
        break
    print(mohsin)

abhishek
mohsin

In [16]:
## do not execute block of code else part...
rasan_listt = [  "milk", "cream", "butter", "bread", "non-veg", "tandoor roasted", "egg biryani"]
for milk in rasan_listt:
    if milk == "non-veg":
        break
    print(milk)
else:
    print("rahul are vegetarian")

milk
cream
butter
bread

### For loop ( continue statement)

In [20]:
Rasan_list = ["bread","ghee","apple","paneer","custord","non-veg roasted" , "dal chawal"]
for ghee in Rasan_list:
    if ghee== "non-veg roasted":
        continue
    print(ghee)
else:
    print("rahul is vegetarian")

bread
ghee
apple
paneer
custord
dal chawal
rahul is vegetarian

### Range function

In [25]:
range(0,10)

range(0, 10)

In [30]:
list(range(0 , 10))
## it will be value give from 0 to 9 using list keyword>>>>

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [31]:
for i in range(30):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29

In [33]:
for l in range(20):
    print(l, end=" ")

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19

In [47]:
## syntax of range >> start , stop , step...
### start
list(range(20))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [46]:
## start >> stop
list(range(5,20))

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [48]:
## start >> stop >> step..
list(range(0 , 20 ,3))

[0, 3, 6, 9, 12, 15, 18]